<launch>
  <node pkg="rviz" name="rviz" type="rviz">
  </node>

  <include file="launch/tf.launch"></include>

  <include file="launch/kalman.launch"></include>

  <!--
  <node pkg="map_server" name="map_server" type="map_server" args="$(env HOME)/machine2017/maps/map.yaml"/>


  <node pkg="amcl" name="amcl" type="amcl">
    <param name="base_frame_id" value="base_footprint" />
    <param name="tf_broadcast" value="false" />
    <param name="update_min_d" value="0.005" />
    <param name="update_min_a" value="0.0174533" />
    <param name="laser_max_beams" value="100" />
    <param name="use_map_topic" value="true" />
    <param name="odom_frame_id" value="odom" />
  </node>
  -->

  <node name="crsm_slam_node" type="crsm_slam_node" pkg="crsm_slam" ns="crsm_slam" output="screen">
    <remap from="laser_scan" to="/scan" />
  </node>

  <rosparam file="$(find crsm_slam)/config/crsm_slam/crsm_slam_parameters.yaml" command="load" ns="crsm_slam" />
</launch>
