<launch>
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(env HOME)/machine2017/rviz/contron_station.rviz">
  </node>

  <include file="launch/pins.launch"></include>

  <include file="launch/tf.launch"></include>

  <include file="launch/kalman.launch"></include>

  <node pkg="launcher" name="launcher_tfs" type="launcher_tf.py" />

  <!-- Robot trajectory -->
  <node pkg="hector_trajectory_server" name="hector_trajectory_server" type="hector_trajectory_server">
    <param name="trajectory_publish_rate" value="10" />
    <param name="trajectory_update_rate" value="10" />
    <param name="source_frame_name" value="base_footprint" />
  </node>


  <!-- SLAM -->
  <node name="crsm_slam_node" type="crsm_slam_node" pkg="crsm_slam" ns="crsm_slam" output="screen">
    <remap from="laser_scan" to="/scan" />
  </node>

  <rosparam file="$(find crsm_slam)/config/crsm_slam/crsm_slam_parameters.yaml" command="load" ns="crsm_slam" />

  <node pkg="ai" name="static_covariance" type="static_covariance.py">
    <remap from="/pose" to="/slam_pose" />
    <remap from="/pose_cov" to="/slam_pose_cov" />
  </node>

  <!-- Velocities -->
  <group>
    <remap from="/cmd_vel" to="/cmd_vel_auto" />

  </group>

  <!--
      <include file="$(find ai)/launch/move_base.launch"></include>
  -->

  <!--
  <group>
    <remap from="/cmd_vel" to="/cmd_vel_man" />

</group>
  -->


  <include file="$(find joy_broadcaster)/launch/joy_broadcaster.launch"></include>

  <node pkg="moteurs" name="moteurs" type="moteurs_node.py" />

  <node pkg="topic_tools" name="cmd_vel_mux" type="mux" args="/cmd_vel /cmd_vel_auto /cmd_vel_man" />

  <node pkg="ai" name="find_walls" type="find_walls.py" output="screen" />

  <node pkg="launcher" name="place_launcher" type="place_launcher.py" output="screen" />

  <node pkg="ai" name="obstacle_generator" type="obstacle_generator.py" output="screen" />

  <node pkg="topic_tools" name="scan_mux" type="mux" args="/scan /scan_raw_dump /scan_raw" />

  <node pkg="ai" name="invert_scan" type="invert_scan.py" />

  <!--
      <node pkg="ai" name="autonomous" type="autonomous.py" output="screen"/>
  -->

  <node pkg="balls" name="balls_node" type="balls_node.py" output="screen" />
</launch>
