<launch>
  <arg name="MACHINE_PATH" value="$(env HOME)/machine2017" />

  <include file="$(arg MACHINE_PATH)/launch/lidar.launch"></include>


  <node pkg="imu" name="mpu6050" type="mpu6050.py" respawn="true"/>

  <node pkg="pwm_driver" name="pwm_driver" type="pwm_driver_node.py">
    <param name="i2c_address" value="0x41" />
  </node>
</launch>
